@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,600;1,700&family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

:root{
  --mint-green: #b3f82a;
  --black-bg: #0e100d;
  --whity: #707070;
  --light-orange: #e0bf66;
  --poppings: 'Poppins', sans-serif;
  --playfair: 'Playfair Display', serif;
}

/* scroll bar*/
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

  /* scroll bar ends */

.wrapper{
    display:flex;
}

.left-section{
    /* border: 1px solid red; */
    padding: 2.5rem;
}

.inner{
    /* border: 1px solid red; */
    padding: 0 2.5rem;
}

.left-section{
    padding-bottom: 0.8rem;
}

.left-section{
    flex-basis: 20%;
    color: whitesmoke;
    background-color: var(--black-bg);
    background-color: black;
}
.right-section{
   flex-basis: 80%;
}

.logo-sect{
    font: 700 18px var(--playfair);
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--whity) ;
 
}
.logo-img{
    width:70px;
    height: 50px;
}

.logo-img img{
    width: 100%;
    height: 100%;
}

.logo-sect h2{
   position: relative;
   right: 57px;
   margin-bottom: 0;
 
}

.logo-sect p{
    font-size: 13px;
    color: var(--whity);
    margin: 1px 0 0 10px;
    position: relative;
    bottom: 8px;
}

.options{
    padding: 30px 0;
    font-family: var(--poppings);

}
.search{
    position: relative;
    margin-bottom: 30px;
}

.search i{
    position: absolute;
    left: 13px;
    top: 9px;
    color: white
}

.search input{
    width: 100%;
    height: 35px;
    font-family: var(--poppings);
    padding-left:31px ;
    outline-color: #b3f82a;
    outline-width: 1px;
    border-radius: 6px;
    color: white;
    background-color: var(--whity);
   
}

.search input::placeholder{
    font-size: 12px;
    color: whitesmoke
}

.opt{
  font-size: 14px;
  padding: 15px 0;
}

.opt i, .help i{
    margin-right: 10px;
}

.opt span{
    position: relative;
    left: 130px;
}

.sp-1{
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-section .opt:hover{
    position: relative;
}

.sp{
    transition: 0 all ease-in;
}

.sp:hover{
    background-color: #707070a7;
    border-left: 4px solid var(--mint-green);
    box-sizing: content-box;
    position: absolute;
    left: -2.5rem;
    right: -2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.2rem;
    width: 100%;


}

.opt .sp:hover + .note-dropdown {
    margin-top: 65px;
}


.note-dropdown{
    margin-left: 24px;
}

.note-drop-item{
    margin-top: 15px;
}

.ad{
    border-bottom: 2px solid var(--whity);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.btn-1{
    width: 100%;
    height: 20px;
    box-sizing: content-box;
    border: 2px solid var(--light-orange);
    color: var(--light-orange);
    border-radius: 6px;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s all ease;
}
.btn-1 i{
    margin-right: 10px;
}
.btn-1:hover{
    border: 2px solid var(--mint-green);
    background: #b3f82a9d;
    font-weight: bold;
    color: white;
    
}

.help{
    font-family: var(--poppings);
    font-size: 14px;
}

/* Right section */

.right-section header{
    height: 45vh;
    background: linear-gradient(rgba(95, 94, 94, 0.5),rgba(95, 94, 94, 0.5)), url(./images/bamner.jpg);
    background-size: cover;
    background-position: 0px 20px 30px 0px;
    color: white;
    padding-top: 100px;
    font-family: var(--playfair);

}

.header h1{
    font-size: 50px;
}

.note-body{
    padding: 2.5rem;
    font-family: var(--poppings);
}

.notes-sect{
    display: flex;
}

.notes-sect h3{
    font-size: 25px;
    color: #20241f;
}
.img-1{
    width:28px;
    height: 28px;
    margin-left: 5px;
}


.img-1 img{
  width: 100%;
  height: 100%;
}

.btn-2{
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
    background-color: #b3f82aac;
    border: 1px solid #b3f82aac;
    color: rgb(87, 86, 86);
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.plus{
    margin-right: 5px;
}
.plus-1{
    margin-left: 120px;
}

.add-note-btn{
    position: fixed;
    right:60px;
    bottom: 40px;
    z-index: 1;
}

.drop-up{
    border: 1px solid #a7a7a7;
    background-color: white;
    box-shadow: 0 2px 7px rgb(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border-radius: 8px;
    display: none;
}
.drop-up li{
    padding: 15px;
    border-bottom: 1px solid #b4b4b4;
    cursor:default;

}

.drop-up li:hover{
background-color: #b3f82aac;

}

 .btn-2:hover ~ .drop-up{
display: block;
}
.notes-todo{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.todo{
    width: 50vh;
    height: 50vh;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.title{
    height: 30px;
    background-color: rgb(246, 246, 162);
    box-sizing: content-box;
    border-radius: 7px;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 700;
}

.title i{
    margin-right: 5px;
}

.body{
    margin-top: 20px;
    height: 32vh;
    overflow-y: scroll;
    overflow-x: hidden;
   
}

.body li+li{
        margin-top: 10px;
}



.check-box{
    accent-color: var(--mint-green);
}
.note-footer{
margin-top: 6px;
display: flex;
justify-content: space-between;
position: relative;

}

.setting, .setting-note{
    display: none;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    background-color: white;
    box-shadow: 0 2px 7px rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    right: 0;
  
}

.setting li, .setting-note li{
    padding: 4px 6px;
}

.setting li:hover, .setting-note li:hover{
    background-color: #b3f82aac;
    
    }
.setting i, .setting-note i{
   margin-right: 5px;
  
}

/* pop up! */
.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    color: #b3f82a;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.pop-up-box{
    width: 50vh;
    height: 50vh;
    background-color: whitesmoke;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.pop-up-todo{
    margin-top: 10px;
    display: flex;
}

.check-width{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    accent-color: var(--mint-green);
}

.popup-todo{
    width: 90%;
    height: 19px;
    font-size: 18px;
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.todolist{
    height: 32vh;
}

.save-option{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}

.save-option button{
 box-sizing: content-box;
 padding: 5px 20px;
 border: 1px solid var(--mint-green);
 background: #b3f82a95;
 border-radius: 10px;
 font-weight: bold;
}



